#cityAdded {
    margin: 0 auto;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

#addCity {
    margin: 0 auto;
    display: block;
    border-radius: 5px;
}

label {
    display: block;
    padding-bottom: 5px;
}